body {
  background-color: #e85526;
  font-family: 'Yatra One', cursive;
}

section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  /*Forma de centralizar com margin left e right e o display*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

section h1 {
  font-size: 20px;
  text-align: center;
}

header {
  background-image: url('https://wallpaper-house.com/data/out/8/wallpaper2you_243778.png');
  background-size: cover;
  height: 80px;
  border-radius: 5px;
}

div {
  padding: 15px;
  border : 1px solid black;
  /* propriedade visual: valor */
  background-color: #bac3d6;
  border-radius: 5px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 6px solid #FF6347;
}
